body {
  /* font-family: 'EB Garamond', serif; */
  font-family: 'Abril Fatface', cursive;
  font-family: 'Architects Daughter', cursive;
  /* 'Gloria Hallelujah', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#d6d9c1
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
/*     font-family: 'EB Garamond', serif; */

}
